<style>
     #comment-form {
		text-shadow: 5px 5px 5px #FF0000;
		background-color:yellow;
		-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
		box-shadow: 10px 10px 5px #888888;
		padding-top:5px;
		padding-bottom:5px;
		padding-right:10px;
		padding-left:10px;
		border-style:inset;
		border-width:5px;
		transition: background-color 1s;
		-webkit-transition: background-color 1s;
		-moz-transition: background-color 1s;
		-o-transition: background-color 1s;
		-ms-transition: background-color 1s;
		}
		.comment-form:hover{
		background:#FFB200;}
		.comment-form:active{
		background-color: CornflowerBlue ;
	}
     </style>