<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <title>Workshop App</title>  
  </head>

  <body>
    <%= yield %>

    <footer>
      <p>
        <small>A <a href="http://www.encaustech.com">Encaustech</a></small>
      </p>
    </footer>
  </body>
</html>